html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333;
    margin: 0;
    padding: 0;
    text-size-adjust:none;
}
